p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.search-box {
    display: block;
}

.thumbnail {
    width: 100%;
    border-radius: 5px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-preview {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 450;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author, .video-status {
    color: rgb(92, 92, 92);
    font-size: 12px;
}

.video-author {
    margin-bottom: 4px;
}

.video-preview:hover {
    cursor: pointer;
}

.video-details {
    font-size: 12px;
    display: inline-block;
    width: 200px;
}

.profile-picture {
    display: inline-block;
    border-radius: 100px;
    width: 40px;
}

.channel-logo {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}